body{
    position: relative;
    width: 1440px;
    height: 900px;
    background: rgba(227, 171, 171, 0.65);
}

a{
    font-family: Podkova;
    color:#87CDCD;
}

ul{
    position:absolute;
    left: 105%;
    top: 8%;
    font-family: Podkova;
    color:#87CDCD;
    
}

li{
  
    background:rgba(255, 255, 255, 0.81);
    display: block ;
    float: left;
    padding: 1rem;
    position:relative;
    text-align: center;
    right: 100%;
    transition-duration: 0.5s;
}

li:hover{
    cursor: pointer;
}
ul li ul {
    visibility: hidden;
    opacity: 0;
    min-width: 5rem;
    position: absolute;
    transition: all 0.5s ease;
    left:0;
    display: inline;
}

ul li:hover > ul, ul li ul:hover{
    visibility: visible;
    opacity: 1;
    display: block !important;
}
ul li ul li {
    clear: both;
    width: 100%;
}


#illustration {
    position: absolute;
    width: 702.62px;
    height: 665.92px;
    left: 10%;
    top: 20%;
    visibility: hidden;
    animation:nowyouseeme;
    animation-duration: 3s; 
	animation-timing-function: ease-in; 
	animation-delay: 0.4s;
	animation-direction: normal;
	animation-iteration-count: initial;
	animation-fill-mode: forwards;
    animation-play-state:initial;
    
}

#introduction{
    position: absolute;
    left: 60%;
    top: 25%;
    opacity: 0;
  
   

}

#logo {
    position: absolute;
    width: 576px;
    height: 576px;
    left: 60%;
    top: 20%;
    visibility: hidden;
    animation:nowyouseeme;
    animation-duration: 0; 
	animation-timing-function: ease-in; 
	animation-delay: 0.4s;
	animation-direction: normal;
	animation-iteration-count: initial;
	animation-fill-mode: forwards;
    animation-play-state: running;
}
 #logo:hover{
   visibility: hidden;
  
 }
 #introduction:hover{
     opacity: 1;
 }

/*spiners*/

.loader.four .rings {
	position: relative;
	width: 550px;
    height: 550px;
    z-index: -1;
    
}

.loader.four .ring {
	width: 100%;
	height: 100%;
	border-radius: 50%;
	position: absolute;
    left: 79%;
    top: 85.5%;
	transform: translate(-50%, -50%);
	overflow: hidden;
}
.loader.four .ring.two {
	width: 80%;
	height: 80%;
}
.loader.four .ring.three {
	width: 60%;
	height: 60%;
}

.loader.four .ring .mask {
	width: 93%;
	height: 93%;
	border-radius: 50%;
	position: absolute;
	top: 50%; left: 50%;
	transform: translate(-50%, -50%);
    background: #E3ABAB ;  
    
}


.loader.four .ring.one .arc-container {
	width: 80%;
	height: 100%;
	position: absolute;
	left: 10%;
	overflow: hidden;
    transform-origin: 50% 50%;
    animation: rotate 1s infinite, color 2s infinite;
	animation-duration: 2s; 
	animation-timing-function: linear; 
	animation-delay: 0s;
	animation-direction: normal;
	animation-iteration-count: infinite;
	animation-fill-mode: none;
    animation-play-state: running;
    

}
.loader.four .ring.two .arc-container {
	width: 80%;
	height: 100%;
	position: absolute;
	left: 10%;
	overflow: hidden;
    transform-origin: 50% 50%;
    animation: rotate 1s infinite, color 2s infinite;
	animation-duration: 2s; 
	animation-timing-function: linear; 
	animation-delay: 0.7s;
	animation-direction: normal;
	animation-iteration-count: infinite;
	animation-fill-mode: none;
    animation-play-state: running;
    

}
.loader.four .ring.three .arc-container {
	width: 80%;
	height: 100%;
	position: absolute;
	left: 10%;
	overflow: hidden;
    transform-origin: 50% 50%;
    animation: rotate 1s infinite, color 2s infinite;
	animation-duration: 2s; 
	animation-timing-function: linear; 
	animation-delay: 0.3s;
	animation-direction: normal;
	animation-iteration-count: infinite;
	animation-fill-mode: none;
    animation-play-state: running;
    

}

@keyframes hithere{
    from{
        opacity: 1;
        visibility: visible;
    }
    to{
        opacity: 0;
        visibility: hidden;
    }

}
@keyframes nowyouseeme{
    from{
       
        opacity: 0;
        visibility: visible;
        
    }
    to{
       
        opacity:1;
        visibility:visible;
       
    }
}

@keyframes rotate{
    from {
        transform:rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
@keyframes color{
    0% {
        
        border-radius: 100%;
        background:  #BEE4E0;      
    }
    25% {
        
        border-radius: 75%;
        background: #3B5453;
    }
    50%{
        border-radius: 50%;
        background: #E3ABAB;
    }
    75%{
        border-radius: 25%;
        background: #3B5453;
    }
    100%{
       
        border-radius: 1%;
        background:  #BEE4E0;
      
    }
}


.loader.four .ring .arc {
	width: 100%;
	height: 50%;
	position: absolute;
    background: #BEE4E0;
}

/* mywork.html*/

#mywork, .workimage {
    max-width: 1150px;
    height: 600px;
    position: relative;
    margin: auto;
    
}

#mywork{
    position: absolute;
    left: 15%;
    top: 35%;
    overflow: hidden;
}
#work-image-row{
    display: flex;
    flex-direction: row;
    position: relative;
    left: 0px;
    transition: 0.5s left;
}
.work-controls{
    position: relative;
    top:50%;
}
#button-previous  {
    position: relative;
    left: 6%;
    background: none;
    border: none;
    cursor: pointer;
    outline: none;
  }

#button-next{
    position: relative;
    left: 80%;
    background: none;
    border: none;
    cursor: pointer;
    outline: none;
}
.signature{
    position: absolute;
    left: 50%;
    bottom: 0;
}
#logobottom{
    opacity: 0.5;
   
}

#worktogether{
    display: flex;
    flex-direction: row;
    gap: 10px;
    position: absolute;
    left:15.50%;
    top:10.50%;
    font-family: Podkova;
    color:white !important;
}
#line{
    position: absolute;
    left: 15%;
    top:9%;
    width: 100px;
    height: 0px;
    border: 1px solid rgba(255, 255, 255, 0.49);
}
#line2{
    position: absolute;
    left: 15%;
    top:16%;
    width: 100px;
    height: 0px;
    border: 1px solid rgba(255, 255, 255, 0.49);
}

/*contactme*/
#lets{
    position: absolute;
    width: 562px;
    height: 84px;
    left: 40%;
    top: 10%;

    font-family: Paytone One;
    font-style: normal;
    font-weight: normal;
    font-size: 50px;
    line-height: 70px;

    color: #FFFFFF;


}
.contact{
    color: white;
}

/*client info*/
.clientinfo{
    font-family: Podkova;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    color: #3B5453;
}
#name{
    position: absolute;
  
    left: 40%;
    top: 20%;
}
#business{
    position: absolute;
  
    left: 40%;
    top: 30%;
}
#tellme{
    position: absolute;
  
    left: 40%;
    top: 40%;
}
#email{
    position: absolute;
  
    left: 40%;
    top: 60%;
}
#services{
    position: absolute;
  
    left: 40%;
    top: 70%; 
}
#goal{
    position: absolute;
  
    left: 40%;
    top: 90%;  
}
#timeline{
    position: absolute;
  
    left: 40%;
    top: 110%; 
}

#submit-button{
    position: absolute;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 60px;
    padding-right: 60px;
    
    left: 50%;
    top: 120%;
    font-family: Podkova;
    color:#87CDCD;
    background:rgba(255, 255, 255, 0.81);
    border-radius: 60px;
}

#bottomline{
     position: absolute;
    left: 25%;
    top:140%;
    
    width: 800px;
    height: 0px;
    border: 1px solid rgba(255, 255, 255, 0.49);
}



/*sidenote*/
.sidenote{
    position: absolute;
    width: 202px;
    height: 109px;
    left: 7%;
    top: 30%;

    font-family: Podkova;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 20px;

    color: #3B5453;
}

#lines{
    position: absolute;
    width: 246px;
    height: 0px;
    left: 5%;
    top: 29%;

    border: 2px solid rgba(255, 255, 255, 0.49);
}
#lines2{
    position: absolute;
    width: 246px;
    height: 0px;
    left: 5%;
    top: 45%;

    border: 2px solid rgba(255, 255, 255, 0.49); 
}
.socialmedia{
    display: flex;
    flex-direction: row;
    position: absolute;
    gap: 10%;
    left:10%;
    top:47%;
    width: 203.84px;
    height: 52px;
}

/*boxes*/
input[type=text]{
    border: none;
    border-bottom: 2px solid rgba(255, 255, 255, 0.49);
    background-color:rgba(255, 255, 255, 0.81);
    opacity: 0.5;
    width: 480px;
}
#nameinput{
    position: absolute;
    left: 40%;
    top: 25%;  
}
#businessinput{
    position: absolute;
    left: 40%;
    top:35%;
}
#tellmeinput{
    position: absolute;
    left: 40%;
    top:45%;
    border-bottom: 2px solid rgba(255, 255, 255, 0.49);
    background-color:rgba(255, 255, 255, 0.81);
    opacity: 0.5;
    width: 480px;
    height: 110px;
   
}
#emailinput{
    position: absolute;
    left: 40%;
    top:65%;
}
#goalinput{
    position: absolute;
    left: 40%;
    top:95%;
    border-bottom: 2px solid rgba(255, 255, 255, 0.49);
    background-color:rgba(255, 255, 255, 0.81);
    opacity: 0.5;
    width: 480px;
    height: 110px;
}
#timelineinput{
    position: absolute;
    left: 40%;
    top:115%;   
}

/*checkbox*/
#branding{
    position: absolute;
    left: 40%;
    top:75%;
}
#print{
    position: absolute;
    left: 40%;
    top:77%;
}
#socialmedia{
    position: absolute;
    left: 40%;
    top:79%;
}
#website{
    position: absolute;
    left: 40%;
    top:81%;
}
#other{
    position: absolute;
    left: 40%;
    top:83%;
}
#tellmeother{
    position: absolute;
    left: 40%;
    top:86%;   
}